{% extends 'master/html.html' %}


{% block content %}
<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="{% url 'searchdomain' %}">搜索域名</a></li>
    <li class="active">{{ info.domain }}</li>
</ol>
<div>
        <input type="text" style="width:500px;float: left;margin-right:10px;"  class="form-control" name="url" placeholder="请输入需要清除CDN缓存的URL">
        <button type="submit" class="btn btn-primary">提交</button>
</div>
<div class="ss" style="display:none;position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.5);">
    <div class="aa" style="font-size:20px;position:fixed;top:50%;left:50%;width:300px;height:50px;padding:10px;margin:-30px 0 0 -150px;background:#fff;border-radius:5px;text-align:center;">
        {{ cleaninfo }}
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('.btn-primary').click(function () {
            $(".btn-primary").html("loading...");
            var url = $('input[name="url"]').val();
            $.ajax({
                url:'/cleancache/{{ id }}/',
                type:'POST',
                data:{
                    url: url
                },
                success: function (cleaninfo) {
                    var obj = JSON.parse(cleaninfo);
                    $(".ss").show();



                    $(".aa").text('结果:'+obj.success);
                    console.log(obj.success);
                }
            })
        });
        $(".ss").click(function(){
            $(".ss").hide();
            $(".btn-primary").html("提交");
        })
    });
</script>
{% endblock %}