{% extends 'master/html.html' %}

{% block content %}
<ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">代码发布</a></li>
</ol>
    <div>
        <form action="/develop/" method="post"  class="form-inline">
         {% csrf_token %}
        <input type="text" name="domain" class="form-control" style="width: 300px" placeholder="请输入搜索的域名">
        <button type="submit" class="btn btn-primary">搜索</button>
        </form>
    </div>
    <div>
        <table class="table" style="width: 500px;">
            <thead>
            <tr style="font-size: 18px">
            <th style="text-align: center">domain</th>
            <th style="text-align: center">ccshop</th>
            <th style="text-align: center">themes_pc</th>
            <th style="text-align: center">themes_mobile</th>
            </tr>
            </thead>
            <tbody style="font-size: 16px">
                {% for i in p %}
                    <tr>
                        <td>{{ i.Domain }}</td>
                        <td align="center"><a class="btn btn-info btn-xs"  href="{% url 'ccshop' i.id%}">提交</a></td>
                        <td align="center"><a class="btn btn-info btn-xs"  href="{% url 'themes' i.id %}">提交</a></td>
                        <td align="center"><a class="btn btn-info btn-xs"  href="{% url 'themesmobile' i.id %}">提交</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}