{% extends 'master/html.html' %}

{% block content %}
    <div>
        <form action="/develop/" method="post" >
         {% csrf_token %}
        <input type="text" name="domain" >
        <button type="submit">提交</button>
        </form>
    </div>
    <div>
        <table  width="500">
            <tr>
            <th>doamin</th>
            <th>ccshop</th>
            <th>thems</th>
            <th>thems_mobile</th>
            </tr>
            {% for i in p %}
            <tr>
                <td>{{ i.Domain }}</td>
                <td><a href="/ccshop/{{ i.id }}">提交</a></td>
                <td><a href="/themes/{{ i.id }}">提交</a></td>
                <td><a href="/themesmobile/{{ i.id }}">提交</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}