{% extends 'master/html.html' %}

{% block content %}
    <style>
        .searchBox{margin-bottom: 40px;}
{#        #gitInput{display: inline-block;}#}
        .right{background-color: #000;padding: 20px;overflow-y: scroll;width: 100%;height: 100%;}
        .right .text-success{font-size: 16px;font-weight: 600;}
    </style>
    <div class="col-lg-7">
        <h1>
        git操作
        </h1>
        <div class="searchBox" >
{#            <form action="/ops_operate/{{ info.id }}/" method="post" class="form-inline">#}
            <div class="form-inline">
                <b style="font-size: 20px;padding-right: 15px;">git</b>
                <input type="hidden" name="operate" value="git" >
                <input type="text" name="command" id="gitInput"  class="form-control" style="width: 300px" placeholder="请输入GIT命令">
                <button type="button" id="searchBtn" class="btn btn-primary">提交</button>
            </div>
{#            </form>#}
        </div>
        <p style="margin-bottom: 40px;">
{#            <form action="/ops_operate/" method="post" class="form-inline">#}
             <div class="form-inline">
                <input type="hidden" name="operate" value="daemon" >
                <button  type="submit" id="ops_operate" class="btn btn-primary">重启守护进程</button>
            </div>
{#            </form>#}
        </p>
    </div>
    <div class="col-lg-5 rightBox" >
        <div class="right">
        </div>
    </div>
    <script>
        $(window).bind("load resize",function () {
            $(".rightBox .right").height($(window).height()-200)
        });
        $("#searchBtn").bind("click",function () {
            var that_ = this;
            $(that_).attr("disabled","disabled");
            $.ajax({
                url:"/ops_operate/{{ info.id }}/",
                data:{
                    operate:"git",
                    command:$("#gitInput").val(),
                },
                type:"post",
                dataType:"json",
                success:function (data, textStatus) {
                    $(that_).removeAttr("disabled")
                    var nodeP = document.createElement("p");
                    $(".right").append($(nodeP).addClass("text-success").html(data))
                    console.log(data)
                },
                error:function (a,b) {
                    console.log("error")
                }
            })
        })
        $("#ops_operate").bind("click",function () {
            var that_ = this;
            $(that_).attr("disabled","disabled");
                $.ajax({
                    url:"/ops_operate/{{ info.id }}/",
                    data:{
                        operate:"deamon",
                    },
                    type:"post",
                    dataType:"json",
                    success:function (data, textStatus) {
                    $(that_).removeAttr("disabled")
                        var nodeP = document.createElement("p");
                        $(".right").append($(nodeP).addClass("text-success").html(data))
                        console.log(data)
                    },
                    error:function (a,b) {
                        console.log("error")
                    }
                })
            })

    </script>
{% endblock %}